.contacts,
.events,
.activity,
.controls {
    & .panel-body {
        height: 250px;
        overflow-y: scroll;
    }
}

.phone-icon {
    cursor: pointer;
    padding-right: 3px;
}

.comment-icon {
    cursor: pointer;
    padding-right: 3px;
}

.list-group-special .list-group-item {
    border: 0px;
    padding: 5px;
}

.collab>.row {
    padding: 0px;
}

body {
    font-size: 12px;
}
