.contacts,
.events,
.activity,
.controls {
    & .panel-body,
    .list-group {
        overflow: auto;
    }
}

.phone-icon {
    cursor: pointer;
    padding-right: 3px;
}

.comment-icon {
    cursor: pointer;
    padding-right: 3px;
}

.list-group-special .list-group-item {
    padding: 5px 0;
}

.collab > .row {
    padding: 0px;
}

body {
    font-size: 12px;
}

.contacts {
    .list-inline {
        margin: 0px;
    }
    .checkbox-div {
        margin: -3px 0 0 0;
    }
    .contacts-header {
        margin: 5px 0 0 0;
    }
}
