.contacts,
.events,
.activity,
.controls {
    & .panel-body,
    .list-group {
        overflow: auto;
    }
}

.phone-icon {
    cursor: pointer;
    padding-right: 3px;
}

.comment-icon {
    cursor: pointer;
    padding-right: 3px;
}

.list-group-special {
    .list-group-item {
        padding: 5px 0;
    }
    .email,
    .phone {
        padding: 0;
        margin: 0;
        color: darkcyan;
        font-size: 0.9em;
        font-family: monospace;
    }
}

.collab > .row {
    padding: 0px;
}

body {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.contacts {
    .list-inline {
        margin: 0px;
    }
    .checkbox-div {
        margin: -3px 0 0 0;
    }
    .contacts-header {
        margin: 5px 0 0 0;
    }
}
